:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

* {
  margin: 0; 
}

/* header */

.header {
  display: flex;
  justify-content: center;
  background-color: var(--header);
  font-weight: 900;
  padding: 33px;
}

.title {
  font-size: 40px;
  color: var(--primary-yellow);
  font-weight: 900;
  font-family: 'Lobster' ,cursive;
}

/* main content */

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;

  /* footer support */
  margin-bottom: 100px;
}

.scores-container {
  display: flex;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.sign, 
.score {
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 33px;
}

.sign {
  font-size: 80px;
  font-weight: 900;
}

.result-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;

  margin: 80px;
}

.btn {
  background-color: var(--secondary-dark);
  border-radius: 10px;
  font-weight: 900;
}

.btn:hover {
  background-color: var(--secondary-dark-hover);
}

.btn:active {
  background-color: var(--secondary-dark-active);

}

button {
  border: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  gap: 30px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* footer */

.footer {
  font-size: 22px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-bottom: 10px;
}

